.background {
	position: fixed;
	background-image: url("/home/landing_bg.png");
	background-size: cover;
	background-position: 40%;
	height: 100vh;
	min-width: 100vw;
	z-index: -1;
}

@media screen and (max-width: 768.5px) {
	.background {
		background-image: url("/home/landing_bg_mobile.png");
	}
}

.header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: calc(20px + 1.5625vw);
	font-size: 20px;
	color: white;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	color: white;
}

.title {
	font-size: calc(35px + 2.734375vw);
	font-weight: 500;
	text-align: center;
	max-width: 75vw;
	line-height: 1.1;
}

.desc {
	font-size: calc(15px + 0.703125vw);
	font-weight: 500;
	line-height: calc(24px + 1.0546875vw);
	text-align: center;
	max-width: 900px;
	width: 80vw;
}

.button {
	border-radius: 150px;
	border: 8px solid rgba(255, 255, 255, 0.2);
}

.button > div {
	border-radius: 150px;
	padding: 20px;
	background-color: white;
	color: #555555;
	font-size: calc(15px + 0.703125vw);
	font-weight: 400;
}